:root{
    --primary: #efefef
    --bg: #a7e8f3
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', 'sans-serif';
    background-color: black;
    color: black;
    min-height: 150px;
}

/*navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid #7bf1ca;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: aqua;
}

.navbar-nav {
    display: flex;
    align-items: center;
}
#home{
    border-bottom: 1px solid white;
}
.navbar .navbar-nav a {
    color: #fff;
    display: inline;
    font-size: 1.2rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: aquamarine;
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid aquamarine;
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: aquamarine;
}
/* Hero section */
.hero {
    min-height: 11vh;  
}
header {
    background-color: #0a0a0a;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 1rem;
}

.booking-summary, .payment-method, .total-amount {
    background-color: white;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.75);;
}

.booking-details {
    display: flex;
    justify-content: space-between;
}

.booking-details div {
    width: 45%;
}

.payment-option {
    margin-bottom: 1rem;
}

.payment-option label {
    display: block;
    margin-bottom: 0.5rem;
}

.payment-option input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    min-height: 20px;
    text-align: center;
    padding: 1rem 0;
    background-color: #0a0a0a;
    color: white;
}

/* laptop */
@media (max-width: 1366px){
    html {
        font-size: 75%;
    }
}
/* Tablet */
@media (max-width: 750px){
    html {
        font-size: 62.5%;
    }
    #hamburger-menu{
        display: inline-block;
    }
    
    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #0a0a0a;
        width: 30rem;
        height: 100vh;
        flex-direction: column;
        align-items: flex-start;
        transition: 0.3s;

    }

    .navbar .navbar-nav.active{
        right: 0;
    }

    .navbar .navbar-nav a {
        color: #a7e8f3;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }
    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }
}

/* mobile phone */
@media (max-width: 750px){
    html {
        font-size: 55%;
    }
}
